---
import Layout from "../layouts/Layout.astro";
import SectionHeader from "../components/SectionHeader.astro";
import FeaturedCTASection from "../components/Section/FeaturedCTASection.astro";
import StepProcess from "../components/StepProcess.astro";
import FeatureSection from "../components/Section/FeatureSection.astro";


const registrationSteps = [
  {
    c:1,
    title: "Step 1: Complete your profile",
    description: "Fill out your profile with as much detail as possible, including your CV and a YourCVVideo recording.",
    image: "/images/features-home-02.png",
    icon: "M9.4 6.6c.8.8.8 2 0 2.8-.8.8-2 .8-2.8 0-.8-.8-5-7.8-5-7.8s7 4.2 7.8 5Z",
  },
  {
    c:2,
    title: "Step 2: Apply for jobs",
    description: "Once you complete your profile, you can apply for jobs by answering the qualifying questions.",
    image: "/images/features-home-02.png",
    icon: "M4.019 15.276.034 1.329A1.058 1.058 0 0 1 1.33.034L15.276 4.02c.896.299.996 1.494.1 1.893L8.8 8.8l-2.79 6.574c-.498.897-1.693.797-1.992-.1ZM2.525 2.525l2.69 9.463 1.892-4.383c.1-.199.299-.398.498-.498l4.383-1.893-9.463-2.69Z",
  },
  {
    c:3,
    title: "Step 3: Impress the recruiter",
    description: "Record your responses to each qualifying question clearly and confidently. Remember, first impressions count!",
    image: "/images/features-home-02.png",
    icon: "M15.686 5.71 10.291.3c-.4-.4-.999-.4-1.399 0a.97.97 0 0 0 0 1.403l.6.6L2.698 6.01l-1-1.002c-.4-.4-.999-.4-1.398 0a.97.97 0 0 0 0 1.403l1.498 1.502 2.398 2.404L.6 14.023 2 15.425l3.696-3.706 3.997 4.007c.5.5 1.199.2 1.398 0a.97.97 0 0 0 0-1.402l-.999-1.002 3.697-6.711.6.6c.599.602 1.199.201 1.398 0 .3-.4.3-1.1-.1-1.502Zm-7.193 6.11L4.196 7.511l6.695-3.706 1.298 1.302-3.696 6.711Z",
  },
];
const features = [
    {
        title: "Increase Your Visibility",
        description: "Enhance your chances of being noticed by recruiters with YourCVVideo. Create a personal profile and record a unique CVVideo to stand out in a competitive job market.",
        iconPath: "M15.722 4.008C14.408 1.214 10.954-.635 7.318.203 5.6.596 4.072 1.561 2.919 2.757A10.57 10.57 0 0 0 .484 6.93C.03 8.458-.173 10.035.18 11.764c.191.862.518 1.683 1.146 2.479a4.876 4.876 0 0 0 2.256 1.522c1.635.469 3.156.192 4.41-.439 1.242-.615 2.298-1.769 2.494-3.094.094-.656-.537-.657-.69-.18-.781 2.126-3.715 2.534-5.265 1.579-1.568-.922-1.185-3.068-.294-4.801.89-1.729 2.454-3.02 3.92-3.338.376-.098.714-.121 1.026-.098.324.018.658.074.98.188.65.2 1.23.591 1.618 1 .27.3.575.386 1.002.461.436.061.95.117 1.499.045.535-.073 1.06-.287 1.41-.807.345-.504.462-1.348.03-2.273",
    },
    {
        title: "Stand Out with YourCVVideo",
        description: "With YourCVVideo, recruiters get a more complete picture of who you are, making it easier for you to land an interview.",
        iconPath: "M15.722 4.008C14.408 1.214 10.954-.635 7.318.203 5.6.596 4.072 1.561 2.919 2.757A10.57 10.57 0 0 0 .484 6.93C.03 8.458-.173 10.035.18 11.764c.191.862.518 1.683 1.146 2.479a4.876 4.876 0 0 0 2.256 1.522c1.635.469 3.156.192 4.41-.439 1.242-.615 2.298-1.769 2.494-3.094.094-.656-.537-.657-.69-.18-.781 2.126-3.715 2.534-5.265 1.579-1.568-.922-1.185-3.068-.294-4.801.89-1.729 2.454-3.02 3.92-3.338.376-.098.714-.121 1.026-.098.324.018.658.074.98.188.65.2 1.23.591 1.618 1 .27.3.575.386 1.002.461.436.061.95.117 1.499.045.535-.073 1.06-.287 1.41-.807.345-.504.462-1.348.03-2.273",
    },
    {
        title: "Speed Up Your Hiring Process",
        description: "By submitting a CVVideo and answering qualifying questions, you could fast-track your job application and get closer to your dream job.",
        iconPath: "M15.722 4.008C14.408 1.214 10.954-.635 7.318.203 5.6.596 4.072 1.561 2.919 2.757A10.57 10.57 0 0 0 .484 6.93C.03 8.458-.173 10.035.18 11.764c.191.862.518 1.683 1.146 2.479a4.876 4.876 0 0 0 2.256 1.522c1.635.469 3.156.192 4.41-.439 1.242-.615 2.298-1.769 2.494-3.094.094-.656-.537-.657-.69-.18-.781 2.126-3.715 2.534-5.265 1.579-1.568-.922-1.185-3.068-.294-4.801.89-1.729 2.454-3.02 3.92-3.338.376-.098.714-.121 1.026-.098.324.018.658.074.98.188.65.2 1.23.591 1.618 1 .27.3.575.386 1.002.461.436.061.95.117 1.499.045.535-.073 1.06-.287 1.41-.807.345-.504.462-1.348.03-2.273",
    },
];


const image = {
    src: './images/target.png',
    width: 540,
    height: 540,
    alt: 'Target'
}; 

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <section class="realtive">
        <div class="max-w-7xl mx-auto px-4 sm:px-6">
            <SectionHeader
            title="Stand Out – Register as a Candidate"
            desc="Register and complete your profile with a CV and video to boost your chances of being noticed by recruiters and hiring managers. Make a lasting impression with YourCVVideo."
        />

        <!-- Section content -->
        <FeatureSection title="Stand Out – Register as a Candidate" desc="Register and complete your profile with a CV and video to boost your chances of being noticed by recruiters and hiring managers. Make a lasting impression with YourCVVideo." features={features} image={image} />
        
        </div>
    </section>

    <FeaturedCTASection
        title="Take control of your job search with YourCVVideo"
        buttonText="Start creating your profile"
        buttonLink="#0"
        imageUrl="./images/cta-image.png"
        altText="Free trial"
    />

    <StepProcess 
  title="How to Get Started with Our Platform" 
  description="Follow these easy steps to create an account and start using our platform." 
  steps={registrationSteps}
/>


</Layout>
