---
import Layout from "../layouts/Layout.astro";
import SectionHeader from "../components/SectionHeader.astro"
import ContactForm from "../components/Contact/contact-form.astro"
import ContactInfo from "../components/Contact/contact-info.astro"

---

<Layout>
    <section class="realtive py-8">
        <div class="max-w-7xl mx-auto px-4 sm:px-6">
            <SectionHeader title="Get In Touch"  desc='Connect With Us! Need assistance or have an inquiry? Our team is ready to help. Just drop us a message!'/>
            <div
                class="max-w-xl mx-auto md:max-w-none flex flex-col md:flex-row md:items-center md:space-x-8 lg:space-x-16 xl:space-x-18 space-y-8 space-y-reverse md:space-y-0"
            >
                <div
                    class="md:w-5/12 lg:w-1/2 aos-init aos-animate " 
                    data-aos="fade-left"
                >
                
                <ContactInfo/>
                </div>
                <div
                    class="md:w-7/12 lg:w-1/2 order-1 md:order-none aos-init aos-animate bg-slate-100 px-6 py-6"
                    data-aos="fade-right"
                >
                <ContactForm/>
                </div>
            </div>
        </div>
    </section>
</Layout>
