---
// import LoginFormComp from "../../components/Auth/LoginForm.astro";
import AuthLayout from "../layouts/Auth.astro";
import Smlogo from "../components/ui/smlogo.astro";
---

<AuthLayout>
    <!-- Content -->
    <div class="w-full md:w-1/2">
        <div class="min-h-screen h-full flex flex-col justify-center">
            <div class="px-5 sm:px-6 py-8">
                <div class="w-full max-w-md mx-auto">
                    <!-- Site branding -->
                    <div class="mb-6">
                        <!-- Logo -->
                        <Smlogo />
                    </div>

                    <h1 class="h2 font-playfair-display text-slate-800 mb-12">
                        Reset password
                    </h1>

                    <!-- Form -->
                    <form>
                        <div class="space-y-4">
                            <div>
                                <label
                                    class="block text-sm font-medium mb-1"
                                    for="email"
                                    >Email <span class="text-rose-500">*</span
                                    ></label
                                >
                                <input
                                    id="email"
                                    class="form-input py-2 w-full"
                                    type="email"
                                    required
                                />
                            </div>
                        </div>
                        <div class="mt-6">
                            <button
                                class="btn-sm w-full text-sm text-white bg-blue-600 hover:bg-blue-700 group"
                            >
                                Reset Password <span
                                    class="tracking-normal text-blue-300 group-hover:translate-x-0.5 transition-transform duration-150 ease-in-out ml-1"
                                    >-&gt;</span
                                >
                            </button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Right side -->
    <div
        class="relative hidden md:block md:w-1/2 bg-slate-900"
        aria-hidden="true"
    >
        <!-- Bg image -->
        <div class="absolute inset-0" data-aos="fade">
            <img
                class="opacity-10 w-full h-full object-cover"
                src="./images/reset-password-bg.jpg"
                width="760"
                height="900"
                alt="Background"
            />
        </div>
    </div>
</AuthLayout>
