---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Section/Hero.astro";
import Aboutus from "../components/Section/AboutUs.astro";
import FeaturedCTASection from "../components/Section/FeaturedCTASection.astro";
import PolicyPage from "../components/PolicyPage.astro";
const { date = " 30/10/2023" } = Astro.props;

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <PolicyPage
    badgeLabel="Terms of service"
    title="Our terms of service"
    headerDesc="Read our terms below to learn more about your rights and responsibilities as a YourCVVideo user."
    autherNameColor="text-slate-600"
    autherDateColor="text-slate-600"
    autherName="Published"
    autherDate={date}
  >
    <div class="text-slate-800 mb-8">
      <div class="mt-4">
        <h4 class="h4 font-playfair-display mb-2 mt-4 underline">
          DEFINITIONS
        </h4>

        <p>The 'Company' means YourCVVideo.com Ltd.</p>
        <p class="mt-4">
          The 'Client' means the person or business purchasing a subscription.
        </p>
        <p class="mt-4">
          The 'Plan' means the monthly Diamond Package pricing plan.
        </p>
        <p class="mt-4">
          The 'Product' means the Administration Portal, Recruiter Dashboard,
          the Website, and any other services or components that make up the
          YourCVVideo.com offering.
        </p>
        <p class="mt-4">
          End User' means the Candidate, Recruiter or any other visitor that
          uses the YourCVVideo.com website.
        </p>
        <p class="mt-4">
          Qualified Application' means a Candidates application via the Website,
          where the application is, at YourCVVideo.com sole discretion, deemed
          to be genuine, and unique.
        </p>
        <p class="mt-4">
          Qualified Candidate' means a candidate who on their application via
          the Website opted to share their details with the Recruiter, where the
          Candidate is, at YourCVVideo.com sole discretion, deemed to be
          genuine, and unique.
        </p>
      </div>
      <div class="mt-4">
        <h2 class="h4 font-playfair-display mb-2 mt-4 underline">GENERAL</h2>
        <ul class="list-inside mt-4">
          <li class="mt-4">
            <span class=""
              >1. These Terms (together with the terms of any applicable
              Application Form) are between the Company and the Client and
              govern the obligations of both parties under any contract for the
              provision of the Services.
            </span>
          </li>
          <li class="mt-4">
            <span class=""
              >2. These Terms shall take immediate effect in substitution of all
              previous terms relating to the contents hereof, whether written,
              oral or implied between the Company and the Client.
            </span>
          </li>
          <li class="mt-4">
            <span class=""
              >3. These Terms are deemed to be accepted by the Client upon the
              application for or opening of an account with the Company for the
              purpose of providing Services.
            </span>
          </li>
          <li class="mt-4">
            <span class=""
              >4. No variation or alteration to these Terms shall be valid
              unless expressly agreed and confirmed in writing by a Director of
              the Company.
            </span>
          </li>
        </ul>
      </div>
      <div class="mt-4">
        <h4 class="h4 font-playfair-display mb-2 mt-4 underline">
          TERM OF CONTRACT AND PAYMENT TERMS
        </h4>
        <ul class="list-inside">
          <li class="mt-4">
            5. The Clients Administrator shall be the primary contact for
            registering additional Recruiters and paying for every Recruiter
            using YourCVVideo.com.
          </li>
          <li class="mt-4">
            6. The term of contract shall be ongoing from initial sign up. (one
            calendar month)
          </li>
          <li class="mt-4">
            7. The Minimum Term shall apply after the 14-day free trial.
          </li>
          <li class="mt-4">
            8. Unless otherwise agreed, payment shall be made monthly in advance
            by credit/debit card. The ongoing monthly cost will be dependent on
            the chosen pricing plan.
          </li>
          <li class="mt-4">
            9. Any changes to the Company's published pricing schedule will be
            communicated to the Client within a minimum of 14 days prior to the
            change.
          </li>
          <li class="mt-4">
            10. Payment for due invoices will be taken automatically on each
            monthly or annual anniversary date.
          </li>
          <li class="mt-4">
            11. Unpaid invoices will result in the suspension of the Service.
          </li>
          <li class="mt-4">
            12. An administration charge of £25 will be made for the
            un-suspension of a subscription, along with the payment of any
            unpaid invoices.
          </li>
          <li class="mt-4">
            13. The Company may, at its discretion, require the Client to pay 2
            or more month's subscription in advance following the late payment
            of an invoice.
          </li>
        </ul>
        <div class="mt-4">
          <h4 class="h4 font-playfair-display mb-2 mt-4 underline">
            CHARGES & PAYMENTS
          </h4>
          <ul>
            <li class="mt-4">
              14. All subscription payments due to YourCVVideo.com will be
              handled by the Company's Stripe account.
            </li>
            <li class="mt-4">
              15. After the 14-day free trial period, a monthly invoice will be
              produced comprising of the next month's Plan cost.
            </li>
            <li class="mt-4 ">
              <p class="underline ml-3">
                UK Customers:
                <ul class="mt-4 ml-6">
                  <li>
                    a. The Company shall issue the Client a monthly VAT Invoice. It
                    will detail any output tax the Client needs to declare to HM
                    Revenue and Customs (HMRC) as well as the Client's company name,
                    address and, where applicable, VAT registration number and all
                    other details which constitute a full VAT invoice. The Client
                    agrees to accept the Invoices raised by the Company on their
                    acceptance of these terms for the duration of the use of the
                    YourCVVideo.com service.
                  </li>
                </ul>
              </p>
              <p class="mt-4 underline ml-3">
                Non-UK Customers:
                <ul class="mt-4 ml-6">
                  <li>
                    a. The Company shall issue the Client a monthly VAT Invoice. It will detail any output tax the Client needs as well as the Client's company name, address and, where applicable, VAT registration number and all other details which constitute a full VAT invoice. The Client agrees to accept the Invoices raised by the Company on their acceptance of these terms for the duration of the use of the YourCVVideo.com service. 
    
                  </li>
                </ul>
              </p>
            </li>
            <li class="mt-4 ">
              16. Both parties agree to immediately notify each other of the following:
              <ul class="mt-4 ml-6">
                <li class="mt-4">a. Change in their VAT registration number</li>
                <li class="mt-4">b. Cease to be VAT registered</li>
                <li class="mt-4">c. Sell their business, or part of their business</li>
              </ul>

            </li>
            <li class="mt-4 ">
              16. The Company agrees to notify the Client of the following:
              <ul class="mt-4 ml-6">
                <li class="mt-4">a. If the Company outsources the self-billing invoices to a third party.
                </li>
              
              </ul>

            </li>
          </ul>
         
        </div>
        <div class="mt-4">
          <h4 class="h4 font-playfair-display mb-2 mt-4 underline">
            PAYMENT GATEWAY
          </h4>
          <ul class="list-inside">
            <li class="mt-4">
              18. Stripe (www.stripe.com) will be the payment method for YourCVVideo.com offered products on-line. The relationship with Stripe is directly between Stripe and YourCVVideo.com, including receipt of payments, handling refunds, fraudulent activity, transfer of funds to bank accounts, general customer service, currency conversion and all associated fees.

            </li>
          </ul>
        </div>
        <div class="mt-4">
          <h4 class="h4 font-playfair-display mb-2 mt-4 underline">TAX
          </h4>
          <ul class="list-inside">
            <li class="mt-4">19. VAT at the prevailing rate will charged to End-Users subscribing to the YourCVVideo.com subscription service.</li>
          </ul>
        </div>
        <div class="mt-4">
          <h4 class="h4 font-playfair-display mb-2 mt-4 underline">REFUND</h4>
          <ul class="list-inside">
            <li class="mt-4">20. In the event that a refund becomes due to an End User, the transaction shall be performed directly between the Client and YourCVVideo.com.
            </li>
          </ul>
        </div>

        <div class="mt-4">
          <h4 class="h4 font-playfair-display mb-2 mt-4 underline">MINIMUM PRICING</h4>
          <ul class="list-inside">
            <li class="mt-4">21. Minimum charge rates are determined by the Company based upon market conditions and may change from time-to-time. Such changes will be published 14-days in advance of them coming into effect.
            </li>
          </ul>
        </div>


        <div class="mt-4">
          <h4 class="h4 font-playfair-display mb-2 mt-4 underline">SUPPORT
          </h4>
          <ul class="list-inside">
            <li class="mt-4">22. All support will be provided via email and will be responded to during normal business hours only.
            </li>
            <li class="mt-4">23. Updates to YourCVVideo.com will be performed on a periodic basis. These updates will include a combination of bug fixes and feature enhancements, with the content of the release being published via the Administration Portal.
            </li>
            <li class="mt-4">24. Where support is provided by the Company, the Company will provide technical support for the most recent update or version of the Product. From time to time, the Company reserves the right to suspend or terminate such support at any time, with or without notice.
            </li>
            <li class="mt-4">25. The Client may submit requests for product enhancements via the Administration Portal. The consideration, implementation and timing of such enhancements are at the discretion of the Company and may be chargeable.
            </li>

          </ul>
        </div>


        <div class="mt-4">
          <h4 class="h4 font-playfair-display mb-2 mt-4 underline">HOSTING
          </h4>
          <ul class="list-inside">
            <li class="mt-4">26. The YourCVVideo.com infrastructure is hosted on Microsoft's Azure cloud-hosting platform and is built as a series of resilient web applications. Each part of the YourCVVideo.com product is hosted on multiple instances, and across multiple locations.
            </li>
            <li class="mt-4">27. The Company uses a number of third-party suppliers to facilitate provision of the Product. These include Microsoft, SendGrid.com and Stripe amongst other providers. Any action by the Client whilst using the Product that breaches the terms of a third-party supplier will be considered a breach of these terms.

            </li>
            <li class="mt-4">28. The hosting centre may be changed by the Company if so, required for either commercial or operational reasons.
            </li>

          </ul>
        </div>


        <div class="mt-4">
          <h4 class="h4 font-playfair-display mb-2 mt-4 underline">BACKUPS
          </h4>
          <ul class="list-inside">
            <li class="mt-4">29. All data from our database, along with file storage, is backed-up on a daily basis and kept in secured cloud storage. Data backups are retained for 30-days. The resilient nature of the Azure hosting means it is unlikely a restoration from these backups will ever be required, but they are retained to ensure absolute cover.
            </li>
          </ul>
        </div>


        <div class="mt-4">
          <h4 class="h4 font-playfair-display mb-2 mt-4 underline">UPDATES & DOWNTIME</h4>
          <ul class="list-inside">
            <li class="mt-4">30. From time to time, the Company may update YourCVVideo.com for many reasons, including but not limited to, (a) to fix bugs or problems in previous versions; and/or (b) to enhance functionality or features. The Company makes no warranty that such updates will not affect your use of the Product or introduce new but unknown bugs into the software. Further, the Company shall not be responsible for the effect an update has on any code not provided by the Company and any modifications to such code to restore functionality shall be Client's sole responsibility and cost.</li>
            <li class="mt-4">31. Updates to YourCVVideo.com will be released as and when available at no extra cost to the Client. However, some optional new features may require unlocking for which there may be an activation and/or recurring fee.
            </li>
            <li class="mt-4">32. Updates are mandatory, but it remains at the discretion of the Client as to whether they use any new product features that are provided as part of an update.
            </li>
            <li class="mt-4">33. Any downtime due to updates will be minimal. In many cases updates will not require any downtime.
            </li>
            <li class="mt-4">34. The Company hosts the Product on resilient Microsoft Azure cloud servers, and uses an architecture designed to ensure maximum reliability and up-time. Whilst downtime is rare, it is the nature of the Internet architecture that it may occur from time-to-time. The liabilities of the Company in this area are restricted by the Limitation of Liabilities.
            </li>
            <li class="mt-4"></li>
          </ul>
        </div>

        <div class="mt-4">
          <h4 class="h4 font-playfair-display mb-2 mt-4 underline">CONTENT</h4>
          <ul class="list-inside">
            <li class="mt-4">35. The Product shall not be used for the purposes of the publication of indecent or offensive content. Included within this definition is pornography; sexist, racist, religious language; swearing; and any other provocative content.
            </li>
            <li class="mt-4">36. It is the responsibility of the Client to ensure that jobs advertised are genuine, are not published for the purpose of scamming and do not infringe any discriminatory or employment laws.
            </li>
            <li class="mt-4">37. A given job advert may only advertise one job role in one location.
            </li>
          </ul>
        </div>

        <div class="mt-4">
          <h4 class="h4 font-playfair-display mb-2 mt-4 underline">PROPER USE</h4>
          <ul class="list-inside">
            <li class="mt-4">38. The Client agrees that YourCVVideo.com shall only be used for lawful purposes and shall not intentionally use the service for the transmission of any material which is in violation of any law or regulation in any country that YourCVVideo.com operates, or which is defamatory, obscene or in breach of third party intellectual property rights (including copyright).
            </li>
           
          </ul>
        </div>


        <div class="mt-4">
          <h4 class="h4 font-playfair-display mb-2 mt-4 underline">FAIR USAGE POLICY</h4>
          <ul class="list-inside">
            <li class="mt-4">39.If, in the Company's reasonable opinion, the Client is exceeding what we would commonly expect to be reasonable volumes of usage and traffic, we may consider it appropriate to offer you an alternative pricing plan applicable to your usage. If having offered, you an alternative you do not agree to move to the new plan we reserve the right to terminate your service immediately.
            </li>
           
          </ul>
        </div>


        <div class="mt-4">
          <h4 class="h4 font-playfair-display mb-2 mt-4 underline">APPLICATION PROGRAMMING INTERFACES (APIs)</h4>
          <ul class="list-inside">
            <li class="mt-4">40. As part of the Product, the Company makes available a number of APIs. The use of these APIs shall be in accordance with these terms and conditions.
            </li>
         
          </ul>
        </div>


        <div class="mt-4">
          <h4 class="h4 font-playfair-display mb-2 mt-4 underline">TERMINATION</h4>
          <ul class="list-inside">
            <li class="mt-4">41. The contract may be terminated by either party where there is or has been a persistent breach of any provisions of this Contract or a material breach of this Contract and, with regard to any material breach, the party in breach fails to remedy the same within 14 days of written notice from the other demanding such remedy. In such cases the contract will be terminated immediately on written notice from the other. Upon termination of this Contract for any reason, each party shall (except to the extent permitted or required to exercise or perform its continuing rights, licences or obligations hereunder) return to the other party all property of the other party (including any specifications, drawings and information provided by either party to the other) then in its possession, custody or control and shall not retain any copies of the same.
            </li>
            <li class="mt-4">42. Termination or expiry of this Contract shall not affect any rights of either party in respect of any antecedent breach of this Contract by the other party nor shall it affect any accrued rights or liabilities (or the coming into force of any accrued rights or liabilities) of either party. The provisions of those clauses intended to have continuing effect shall continue in full force and effect following the termination or expiry of this Agreement.
            </li>
          </ul>
        </div>


        <div class="mt-4">
          <h4 class="h4 font-playfair-display mb-2 mt-4 underline">UNSOLICITED MESSAGES</h4>
          <ul class="list-inside">
            <li class="mt-4">43. The Company has a strict "anti-spam" policy. The sending of unsolicited messages via the Administration Portal or any of the YourCVVideo.com systems will result in immediate suspension and termination of the contract.
            </li>
           
          </ul>
        </div>


        <div class="mt-4">
          <h4 class="h4 font-playfair-display mb-2 mt-4 underline">LIMITATION OF LIABILITIES</h4>
          <ul class="list-inside">
            <li class="mt-4">44. The Company, its employees or agents shall not be liable for any consequential damage or loss (including, without limitation, consequential loss of profits or business opportunity) caused to, or suffered by, the Client as a result of, or arising out of, any fault, defect or error in the services or operation of the YourCVVideo.com website or for any breach of employment or other legislation caused by the Client. </li>
            <li class="mt-4">45. Subject to the above paragraph, the Company's total aggregate liability in respect of any and all claims (whether arising out of one or more incidents and whether in respect of the negligence of the Company) by the Client arising out of or in respect of the services or the use of YourCVVideo.com website (other than in respect of death or personal injury caused by the negligence of the Company, its employees or agents or any fraud) shall in no circumstances exceed the total of the charges paid or payable by the Client in respect of the original products and/or services provided (or to be provided) under this Contract. This Clause shall survive termination of this agreement for any reason whatsoever.
            </li>
           
          </ul>
        </div>



        <div class="mt-4">
          <h4 class="h4 font-playfair-display mb-2 mt-4 underline">INTELLECTUAL PROPERTY</h4>
          <ul class="list-inside">
            <li class="mt-4">46. Any Intellectual Property (including, without limitation, rights to and any interest in, any patent, design, trade mark, copyright, know how, trade secret and any other proprietary right or form of intellectual property (whether protectable by registration or not), customer list, Client/Agency agreement, specification, formula, drawing, program, design, system, process, logo, mark, or style) ("Intellectual Property") which is not developed under these Terms, but which is used for the purposes of these Terms ("Current Intellectual Property"), will remain the property of its current owner.
            </li>
            <li class="mt-4">47. Intellectual Property, including any modifications or addition to Current Intellectual Property, which is created, made or discovered by the Company in the course of the Company providing the Services, will be the absolute property of the Company without the need for any party to execute any further document, provided that nothing in this clause will vest in the Company any proprietary rights in, or prevent the Client from using, either for the Company or any other customer, any techniques, knowledge, information practices or codes which are:
              <ul class="ml-6">
                <li class="mt-4"> a. 
                  generic in nature and were known to the Client prior to the date of these Terms; or
                </li>
                <li class="mt-4">b. developed by the Client during the Term of this Agreement and relate to standard practices adopted within the industry to which the Services relate.

                </li>
               
              </ul>
            </li>
            <li class="mt-4">48. The relationship between the Company and the Client is, and will be for all purposes, that of a company and independent business, and nothing in these Terms will be taken as constituting any other relationship</li>
           
          </ul>
        </div>



      


        <div class="mt-4">
          <h4 class="h4 font-playfair-display mb-2 mt-4 underline">WARRANTIES
          </h4>
          <ul class="list-inside">
            <li class="mt-4">49. The Company warrants in favour of the Client that it has developed and created the YourCVVideo.com Website without infringing any of the proprietary rights, title, intellectual property rights including but not limited to any trademark, copyright, patent or design rights of any third party in so doing.
            </li>
            <li class="mt-4">
              50. The Company further warrants and undertakes to the Client that:

              <ul class="ml-6">
                <li class="mt-4"> a. it is able to enter into this Contract and fulfil all its obligations set out herein; and
                </li>
                <li class="mt-4">b. all services and products will be supplied with reasonable care and skill and by means of appropriately qualified and skilled personnel; and
                </li>
                <li class="mt-4">b. all materials created in connection with the Services, including without limit all material published on the Website (excluding any content supplied by the Client), shall not infringe any third-party rights.
                </li>
               
              </ul>
            </li>
            <li class="mt-4">51. The Company shall indemnify and keep indemnified and hold the Client harmless from and against all liabilities, losses, damages, costs, claims and expenses whatsoever (including legal costs and expenses) incurred or suffered by the Client howsoever arising out of or in connection with any action, claim, suit, demand, or proceedings (including any sums paid by the Client whether before or after the commencement of legal proceedings) made or brought against the Client by a third party in respect of any of the products or services provided by the Company, or otherwise as a result of the Company's negligence, act or omission or any breach by or on behalf of the Company of any of its obligations, warranties or undertakings set out in this Contract and no limitation on liability set out in this Contract shall apply to or have any effect in respect of this clause.
            </li>
            <li class="mt-4">52. The Client warrants in favour of the Company that as far as it is aware materials including but not limited to logos, graphics, icons, image, photos, animations, video, audio music and text supplied to the Company by the Client do not infringe any of the intellectual property rights, proprietary rights, title, trademark, copyright, patent or design rights of any third party.
            </li>
            <li class="mt-4">53. The Client warrants that as far as it is aware any personal data held on individuals on the Website is held with the individual's knowledge or consent and is subject to the provisions of the Data Protection Act, with whom the Client holds current registration.

            </li>
          </ul>
        </div>


        <div class="mt-4">
          <h4 class="h4 font-playfair-display mb-2 mt-4 underline">CONFIDENTIALITY</h4>
          <ul class="list-inside">
            <li class="mt-4">54. We use Cookies to help continually improve the quality of service we offer to our Clients and track user trends, such as how people use our products. Details are published in our online Cookie Policy.
            </li>
            <li class="mt-4">55. Unless agreed in writing with the Client, the Company reserves the right to disclose that it is the provider of the Product to the Client for marketing and promotional purposes. Any such mentions in print will only be by prior agreement with the Client, and in accordance with the Client's brand guidelines.
            </li>
            <li class="mt-4">56. It is the responsibility of the Client to keep their Administration Portal password(s) secure. A given username should only be assigned to one user and revoked once no longer required.
            </li>
            <li class="mt-4">57. The Client undertakes not to pass any Administration Portal login information to any parties outside of the Client's company or group. Third-party integrators do not require access to the Administration Portal, and provision of security credentials provided to third parties should be limited to API keys.
            </li>
            <li class="mt-4">58. The Company shall keep secret and confidential the Confidential Information and not disclose it to any third party. The Company may disclose the Confidential Information only:

              <ul class="ml-6">
                <li class="mt-4"> a. with the Client's prior agreement as to manner, content and degree of disclosure, and

                </li>
                <li class="mt-4">b. if required by law, with the Client's prior agreement as to manner, content and degree of disclosure.
                </li>
               
              </ul>
            </li>
          </ul>
        </div>




        <div class="mt-4">
          <h4 class="h4 font-playfair-display mb-2 mt-4 underline">DATA PROTECTION AND LEGAL OBLIGATIONS
          </h4>
          <ul class="list-inside">
            <li class="mt-4">59. It is the responsibility of the Client to ensure that they are registered according to the Data Protection laws of the countries in which they and/or YourCVVideo.com operate.
            </li>
            <li class="mt-4">60. It is the responsibility of the Client to ensure that they comply with all laws related to the operation of an online job board within the countries in which they and/or the Website operate.
            </li>
            <li class="mt-4">61. For security purposes and the avoidance of fraud, the Company logs the IP addresses of all Clients and End Users.
            </li>
            <li class="mt-4">62. The Company reserves the right to collect, review and publish anonymous usage and trend statistics gathered from usage of the Website. Any such publication would be done in a manner such that the originating source Website cannot be determined.</li>
          </ul>
        </div>




        <div class="mt-4">
          <h4 class="h4 font-playfair-display mb-2 mt-4 underline">FORCE MAJEURE
          </h4>
          <ul class="list-inside">
            <li class="mt-4">63. A party to the Terms of Business shall not be liable for any delay in or failure of performance if:
              <ul class="ml-6">
                <li class="mt-4"> a. that delay or failure arises from circumstances or events beyond that party's reasonable control or foresight ('a Force Majeure Event'); and
                </li>
                <li class="mt-4">b. it has taken all reasonable measures with the object of avoiding or minimising the delay or impact of the Force Majeure Event; and</li>
                <li class="mt-4">c. the party claiming the benefit of a Force Majeure Event has promptly given notice to the other party of the nature of the Force Majeure Event, an estimate of the duration of Force Majeure Event and the probable extent to which that party shall be unable to observe or perform its obligations under these Terms of Business. If any Force Majeure Event continues for a period of 14 days, the party not in default shall be entitled to terminate this Contract without liability.
                </li>
              </ul>
            </li>
           
          </ul>
        </div>


        <div class="mt-4">
          <h4 class="h4 font-playfair-display mb-2 mt-4 underline">NOTICES
          </h4>
          <ul class="list-inside">
            <li class="mt-4">64. All notices, requests, demands, consents, approvals or other communications (each a 'Notice') in relation to either party or otherwise shall be in writing and shall be delivered by electronic mail or prepaid registered post or in person or transmitted by facsimile to the addresses or facsimile numbers set out in the party's details or such other address or facsimile number as the addressee may specify.</li>
            
          </ul>
        </div>



        <div class="mt-4">
          <h4 class="h4 font-playfair-display mb-2 mt-4 underline">SEVERABILITY
          </h4>
          <ul class="list-inside">
            <li class="mt-4">65. Any provision of these Terms of Business which is prohibited or unenforceable in any applicable jurisdiction shall be ineffective in that jurisdiction to the extent of the prohibition or unenforceability. Such prohibition or unenforceability shall not invalidate the remaining provisions of these Terms of Business nor affect the validity or enforceability of that provision in any other jurisdiction.
            </li>
           
          </ul>
        </div>



        <div class="mt-4">
          <h4 class="h4 font-playfair-display mb-2 mt-4 underline">ENTIRE AGREEMENT</h4>
          <ul class="list-inside">
            <li class="mt-4">66. This Contract shall constitute the entire agreement between the parties in relation to its subject matter and shall supersede all prior agreements and understandings between them with reference to the subject matter of this agreement.
            </li>
            
          </ul>
        </div>


        <div class="mt-4">
          <h4 class="h4 font-playfair-display mb-2 mt-4 underline">NO-WAVER
          </h4>
          <ul class="list-inside">
            <li class="mt-4">67. Except as otherwise expressly provided in these Terms of Business, no waiver in whole or in part of any of the provisions of this Agreement shall be valid or binding on a party unless in writing and duly executed by that party. Any waiver shall apply to the particular occasion in question and shall not be continuing and shall not constitute a waiver of any other provision.
            </li>
           
          </ul>
        </div>


        <div class="mt-4">
          <h4 class="h4 font-playfair-display mb-2 mt-4 underline">GOVERNING LAW
          </h4>
          <ul class="list-inside">
            <li class="mt-4">68. This agreement, its interpretation, breach and enforcement shall be governed and construed in accordance with the laws of England.</li>
           
          </ul>
        </div>

      </div>
    </div>
  </PolicyPage>
</Layout>
