---
import Section from "../Section.astro";
const { class: relativeClass = "" } = Astro.props;

const recruiterFeatures = [
    {
        title:'Pre Screening Videos',
        description:'Instantly filter out unsuitable applicants with video pre-screening, saving you hours of manual review.'
    },
    {
        title: "Unlimited Job Postings",
        description:
            "Post as many jobs as you like – each job is valid for 30 days.",
    },
    {
        title: "Unlimited Video Applications",
        description:
            "Receive an unlimited number of CVVideo applications from candidates per month.",
    },
    {
        title: "Online Diary  System",
        description:
            "YCVV Online Diary for managing interviews. Candidates can access it to book video interviews with you.",
    },
    {
        title: "Video Interview Recording",
        description:
            "Record your video interviews with candidates either for reference or to submit to your client.",
    },
    {
        title: "Video Conference Calling",
        description:
            "Access to video conference call apps for seamless communication.",
    },
    {
        title:'Candidate Exclusivity',
        description: "Ensure exclusivity and avoid candidate ownership disputes by gaining permission before submission."
    },
    {
        title: "CVVideo & Profile Search",
        description:
            "Search candidate profiles, download CVs, and access CVVideos.",
    },
];
---


<Section class={`${relativeClass}`}>
    <div class="max-w-6xl mx-auto px-4 sm:px-6">
        <div class="py-12 md:py-20">
            <div class="max-w-3xl mx-auto text-center pb-10 md:pb-20">
                <h2 class="h2 font-playfair-display text-slate-900">  Human-AI Synergy <br> The Future of Smarter Recruitment</h2>
            </div>
            <div
                class="relative max-w-sm mx-auto grid gap-16 md:grid-cols-2 lg:grid-cols-3 lg:gap-y-20 items-start md:max-w-2xl lg:max-w-none"
                data-aos-id-blocks
            >
                {
                    recruiterFeatures.map((rfeature:any) => (
                        <div class="relative" data-aos="fade-up">
                          
                            <h3 class="h4 font-playfair-display mb-2">
                               {rfeature.title}
                            </h3>
                            <p class="text-lg text-slate-500">
                                {rfeature.description}
                            </p>
                        </div>
                    ))
                }

                <div class="relative" data-aos="fade-up">
                                        
                    <h3 class="h4 font-playfair-display mb-2">
                        Enjoy a  <span class="text-emerald-500">14-day Trial</span>.
                    </h3>
                    <p class="text-lg text-slate-500">
                        Experience the benefits firsthand and see how our platform can revolutionize your recruitment process.

                    </p>
                    <p class="pt-4">
                        <a class="btn text-white bg-blue-600 hover:bg-blue-700 group" href="request-demo.html">
                            Join Now – It’s Free!<span class="tracking-normal text-blue-300 group-hover:translate-x-0.5 transition-transform duration-150 ease-in-out ml-1">-&gt;</span>
                         </a>
                    </p>
                </div>
                <!-- 1st Feature -->
            </div>
        </div>
    </div>
</Section>
