---
const { class: backgroupClass = "" } = Astro.props; // Provide default value to avoid "undefined"
---
<div class={`absolute inset-0 bg-slate-900 pointer-events-none -z-10 ${backgroupClass}`} aria-hidden="true"></div>

