<section class="relative">
    <!-- Dark background -->
    <div class="absolute inset-0 bg-slate-900 pointer-events-none -z-10" aria-hidden="true"></div>
    <div class="relative max-w-7xl mx-auto px-4 sm:px-6">
        <div class="pt-32 pb-12 md:pt-40 md:pb-20">
            <!-- Section header -->
            <div class="max-w-3xl text-left">
                <h1 class="h2 font-playfair-display text-slate-100 mb-8">
                    Join the best tech startups in the
                </h1>
                <p class="text-xl text-slate-400 mb-8">
                    Our landing page template works on all devices, so you only have to set it up once, and get beautiful results forever.
                </p>
                <footer class="flex items-center mt-8">
                    <div class="flex flex-col sm:flex-row justify-center max-w-xs mx-auto sm:max-w-md mr-3">
                        <a class="btn text-white bg-blue-600 hover:bg-blue-700 w-full group" href="request-demo.html">
                            Request Demo 
                            <span class="tracking-normal text-blue-300 group-hover:translate-x-0.5 transition-transform duration-150 ease-in-out ml-1">-&gt;</span>
                        </a>
                    </div>
                    <div class="flex shrink-0 -space-x-3 mr-3">
                        <img class="rounded-full border-2 border-white box-content" src="/images/support-avatar-01.jpg" width="32" height="32" alt="Avatar 01">
                        <img class="rounded-full border-2 border-white box-content" src="/images/support-avatar-02.jpg" width="32" height="32" alt="Avatar 02">
                        <img class="rounded-full border-2 border-white box-content" src="/images/support-avatar-03.jpg" width="32" height="32" alt="Avatar 03">
                        <img class="rounded-full border-2 border-white box-content" src="/images/support-avatar-04.jpg" width="32" height="32" alt="Avatar 04">
                    </div>
                    <div class="grow text-sm font-medium text-slate-300">Reach 100K+ Professionals</div>
                </footer>
            </div>
        </div>
    </div>
</section>