---
import Section from "./Section.astro";
import GrayBg from '../Darkbg.astro';
import Graybg from "../Graybg.astro";
import Badge from "../Badge.astro";
const { class: relativeClass="" } = Astro.props;
---




     <!-- Gray background -->
    
     <div class="relative max-w-6xl mx-auto px-4 sm:px-6 pt-4">
         <div class="mt-12 md:mt-16">

             <div class="relative flex flex-col lg:flex-row justify-between items-center bg-white shadow-lg p-6">
                <img src="../../public/images/countries-flags.png" alt="">
                <!-- <Badge label="For Young Startups" positionClass="top-0 left-0 ml-6 -mt-4"/>
                
                 <div class="h4 font-playfair-display text-center lg:text-left mb-4 lg:mb-0">Launched a business making less than $100K in revenue?</div>
                 <div class="p-3 rounded-sm bg-slate-50">
                     <a class="btn-sm text-white bg-blue-600 hover:bg-blue-700 group" href="#0">
                         Contact Us <span class="tracking-normal text-blue-300 group-hover:translate-x-0.5 transition-transform duration-150 ease-in-out ml-1">-&gt;</span>
                     </a>
                 </div> -->
             </div>

         </div>
     </div>
