---
const footNavMenus = [
    {
        header: "LEGAL",
        items: [
            { label: "Terms & Conditions", uri: "/terms" },
            { label: "Privacy Policy", uri: "/privacy" },
            { label: "Cookies Policy", uri: "/cookies" },
            { label: "Support Centre", uri: "/support" },
        ],
    },
    {
        header: "FOR CANDIDATES",
        items: [
            { label: "Search Jobs", uri: "/jobs" },
            { label: "Browse Recruiters", uri: "/recruiters" },
            { label: "Register/Login", uri: "/register" },
            { label: "Contact Us", uri: "/contact" },
        ],
    },
    {
        header: "FOR RECRUITERS",
        items: [
            { label: "Post Job", uri: "/post-job" },
            { label: "Browse Candidates", uri: "/candidates" },
            { label: "Register/Login", uri: "/register" },
            { label: "Contact Us", uri: "/contact" },
        ],
    },
];
---

{
    footNavMenus.map((navSection) => (
        <div class="sm:col-span-6 md:col-span-4 lg:col-span-2">
            <h6 class="text-sm text-slate-800 font-semibold mb-2">{navSection.header}</h6>
            <ul class="text-sm font-medium space-y-2">
                {navSection.items.map((item) => (
                    <li>
                        <a
                            class="text-slate-500 hover:text-blue-600 transition duration-150 ease-in-out"
                            href={item.uri}
                        >
                            {item.label}
                        </a>
                    </li>
                ))}
            </ul>
        </div>
    ))
}
