---
import '../styles/global.css';
---

<!doctype html>

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="generator" content={Astro.generator} />
		<title>YourCVVideo | Auth</title>
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="icon" href="./favicon.ico" type="image/x-icon">
		
		<!-- CSS Files -->
		<!-- <link rel="stylesheet" href="../src/styles/global.css" /> -->
		
		<!-- JavaScript Libraries -->
		<script src="./js/vendors/alpinejs.min.js" is:inline></script>
		<script src="./js/vendors/aos.js" is:inline></script>

	</head>
	<body class="font-inter antialiased bg-white text-slate-800 tracking-tight">
		<main class="flex">
            <slot />
			<script src="./js/main.js" defer></script>
        </main>
	</body>
	
</html>

