<a
  href="/"
  class="block text-blue-600 transition duration-150 ease-in-out"
  aria-label="Cruip"
>
  <img
    src="/public/images/lg-logo.png"
    style="max-width: 200px;"
    alt="logo of YourCvVideo"
    srcset=""
  />
</a>
